# Census 2020 response rates

## NewsCounts

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
states = pd.read_csv("Data/state_codes.txt",sep=" 	")
counties = pd.read_csv("Data/county_codes.txt",sep=" 	")

/home/bernardo/anaconda3/envs/eods-f19/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.
/home/bernardo/anaconda3/envs/eods-f19/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [3]:
key = "124e1b1d5ceca3b46b3f6bd97d95ea8d4d780e28"

In [4]:
url = f"https://api.census.gov/data/2010/dec/responserate?get=GEO_ID,FSRR2010&for=state:*&key={key}"
response = requests.get(url)
if response:
    print('Success!')
else:
    print('An error has occurred.')

Success!

Create data frame from json.

In [5]:
state_df = pd.DataFrame.from_records(response.json()[1:])
state_df.columns = ["GEO_ID","FSRR2010","state"]
state_df['state'] = state_df.state.astype(int)

state_df['state_name'] = state_df.state.map(states.set_index('code')['state'])

state_df['state_short'] = state_df.state.map(states.set_index('code')['state_code'])

state_df.sort_values(by="state",inplace=True)
state_df = state_df.reset_index(drop=True)
state_df

         GEO_ID FSRR2010  state      state_name state_short
0   0400000US01     62.5      1         Alabama          AL
1   0400000US02     55.6      2          Alaska          AK
2   0400000US04     61.3      4         Arizona          AZ
3   0400000US05     62.3      5        Arkansas          AR
4   0400000US06     68.2      6      California          CA
5   0400000US08     67.2      8        Colorado          CO
6   0400000US09     69.5      9     Connecticut          CT
7   0400000US10     64.1     10        Delaware          DE
8   0400000US11       66     11             NaN         NaN
9   0400000US12       63     12         Florida          FL
10  0400000US13     62.5     13         Georgia          GA
11  0400000US15     64.1     15          Hawaii          HI
12  0400000US16     67.1     16           Idaho          ID
13  0400000US17     70.5     17        Illinois          IL
14  0400000US18     69.6     18         Indiana          IN
15  0400000US19       73     19            Iowa          IA
16  0400000US20       70     20          Kansas          KS
17  0400000US21     65.7     21        Kentucky          KY
18  0400000US22       61     22       Louisiana          LA
19  0400000US23     57.4     23           Maine          ME
20  0400000US24     69.5     24        Maryland          MD
21  0400000US25     68.8     25   Massachusetts          MA
22  0400000US26     67.7     26        Michigan          MI
23  0400000US27     74.1     27       Minnesota          MN
24  0400000US28     61.3     28     Mississippi          MS
25  0400000US29     67.5     29        Missouri          MO
26  0400000US30     64.6     30         Montana          MT
27  0400000US31     71.1     31        Nebraska          NE
28  0400000US32     61.4     32          Nevada          NV
29  0400000US33     64.4     33   New Hampshire          NH
30  0400000US34     67.6     34      New Jersey          NJ
31  0400000US35       60     35      New Mexico          NM
32  0400000US36     64.6     36        New York          NY
33  0400000US37     64.8     37  North Carolina          NC
34  0400000US38     68.8     38    North Dakota          ND
35  0400000US39       69     39            Ohio          OH
36  0400000US40     62.3     40        Oklahoma          OK
37  0400000US41     66.9     41          Oregon          OR
38  0400000US42     70.2     42    Pennsylvania          PA
39  0400000US44     65.7     44    Rhode Island          RI
40  0400000US45     64.7     45  South Carolina          SC
41  0400000US46     67.1     46    South Dakota          SD
42  0400000US47     67.1     47       Tennessee          TN
43  0400000US48     64.4     48           Texas          TX
44  0400000US49     68.6     49            Utah          UT
45  0400000US50     60.3     50         Vermont          VT
46  0400000US51       69     51        Virginia          VA
47  0400000US53     67.2     53      Washington          WA
48  0400000US54     59.1     54   West Virginia          WV
49  0400000US55     73.5     55       Wisconsin          WI
50  0400000US56     63.4     56         Wyoming          WY
51  0400000US72     53.8     72     Puerto Rico          PR

In [6]:
state_df.to_csv("Data/sates_response_rates.csv",index=False)

I do the same for all counties:

In [7]:
data=[]
url = f"https://api.census.gov/data/2010/dec/responserate?get=GEO_ID,FSRR2010&for=county:*&key={key}"
response = requests.get(url)
if response:
    print('Success!')
    data = response.json()
else:
    print('An error has occurred.')

Success!

In [8]:
county_df = pd.DataFrame.from_records(data[1:])
county_df.columns = data[0]
county_df['state_county'] = county_df.state + county_df.county
county_df['state_county'] = county_df.state_county.astype(int)
county_df['state'] = county_df.state.astype(int)

county_df['state_name'] = county_df.state.map(states.set_index('code')['state'])
county_df['state_short'] = county_df.state.map(states.set_index('code')['state_code'])

county_df['county_name'] = county_df.state_county.map(counties.set_index('code')['county'])

county_df.sort_values(by=["state_county"],inplace=True)
county_df = county_df.reset_index(drop=True)
county_df

,GEO_ID,FSRR2010,state,county,state_county,state_name,state_short,county_name
0,0500000US01001,68.6,1,001,1001,Alabama,AL,Autauga
1,0500000US01003,59.4,1,003,1003,Alabama,AL,Baldwin
2,0500000US01005,55.2,1,005,1005,Alabama,AL,Barbour
3,0500000US01007,54.8,1,007,1007,Alabama,AL,Bibb
4,0500000US01009,66.3,1,009,1009,Alabama,AL,Blount
...,...,...,...,...,...,...,...,...
3211,0500000US72145,58.9,72,145,72145,Puerto Rico,PR,Vega Baja
3212,0500000US72147,38.6,72,147,72147,Puerto Rico,PR,Vieques
3213,0500000US72149,61.2,72,149,72149,Puerto Rico,PR,Villalba
3214,0500000US72151,56.1,72,151,72151,Puerto Rico,PR,Yabucoa
3215,0500000US72153,62.6,72,153,72153,Puerto Rico,PR,Yauco

In [9]:
county_df.to_csv("Data/conties_response_rates.csv",index=False)

I do the same for all tracts:

In [10]:
data=[]
c=0
for i in range(len(state_df)):
    s = state_df.iloc[i,:]
    if s.state <10:
        num = f"0{s.state}"
    else:
        num = s.state
    url = f"https://api.census.gov/data/2010/dec/responserate?get=GEO_ID,FSRR2010&for=tract:*&in=state:{num}&key={key}"
    response = requests.get(url)
    if  not response:
        print('An error has occurred.')
        print(response.text)
        break
    else:
        start = 0 if c==0 else 1
        data = data + response.json()[start:]
        c=c+1
        
print("Done!")

Done!

In [11]:
tract_df = pd.DataFrame.from_records(data[1:])
tract_df.columns = data[0]
tract_df['state_county'] = tract_df.state + tract_df.county
tract_df['state_county'] = tract_df.state_county.astype(int)
tract_df['state'] = tract_df.state.astype(int)

tract_df['state_name'] = tract_df.state.map(states.set_index('code')['state'])
tract_df['state_short'] = tract_df.state.map(states.set_index('code')['state_code'])

tract_df['county_name'] = tract_df.state_county.map(counties.set_index('code')['county'])

tract_df.sort_values(by=["state_county","tract"],inplace=True)
tract_df = tract_df.reset_index(drop=True)
tract_df

,GEO_ID,FSRR2010,state,county,tract,state_county,state_name,state_short,county_name
0,1400000US01001020100,70.6,1,001,020100,1001,Alabama,AL,Autauga
1,1400000US01001020200,70.1,1,001,020200,1001,Alabama,AL,Autauga
2,1400000US01001020300,73.6,1,001,020300,1001,Alabama,AL,Autauga
3,1400000US01001020400,78.4,1,001,020400,1001,Alabama,AL,Autauga
4,1400000US01001020501,81.2,1,001,020501,1001,Alabama,AL,Autauga
...,...,...,...,...,...,...,...,...,...
84514,1400000US72153750501,70.4,72,153,750501,72153,Puerto Rico,PR,Yauco
84515,1400000US72153750502,73.4,72,153,750502,72153,Puerto Rico,PR,Yauco
84516,1400000US72153750503,63.4,72,153,750503,72153,Puerto Rico,PR,Yauco
84517,1400000US72153750601,67.1,72,153,750601,72153,Puerto Rico,PR,Yauco
84518,1400000US72153750602,57.8,72,153,750602,72153,Puerto Rico,PR,Yauco

In [12]:
tract_df.to_csv("Data/tracts_response_rates.csv",index=False)